
.itemCart__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.btn_seguir{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    box-shadow: 0 0 0.1rem 0.1rem rgb(2, 31, 3);
    background-color:  rgb(52, 192, 71);
    border-radius: 0.5rem;
    padding: 0.3rem;
    
}
.fin_link{
    text-decoration: none;
    color: #000;
}
.texto_seguir{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 1rem auto;
}
.contenedor_btn{
    text-align: center;
    margin-right: 1rem;
    margin-left: 2rem ;
    display: flex;
    flex-direction: column;
    
}
.texto_total{
    font-size: 1.5rem
}
.clear_btn, .fin_btn{
   
    color: #000;
    font-weight: bold;
    margin: 0.5rem auto;
    background-color:  rgb(52, 192, 71);
    box-shadow: 0 0 0.2rem 0.2rem rgb(2, 31, 3);
}