.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCart__flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.btn_seguir,.fin_btn{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    
    border-radius: 0.5rem;
    padding: 0.5rem;
    
}
.contenedor_btn{
    text-align: right;
    margin-right: 1rem;
    margin-left: 2rem ;
    display: flex;
    flex-direction: column;
}
.clear_btn, .fin_btn{
   
    color: #000;
    font-weight: bold;
    margin: 0.5rem auto;
}