.contador{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.btn-cont{
    border-radius: 0.5rem;
    padding: 0.1rem 1rem;
    background-color:  rgb(52, 192, 71);
    font-weight: bold;
}
.contador-num{
    margin: 0.3rem 1rem;
    text-align: center;
    font-weight: bold;
}
.btn-agregarCarrito{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.1rem 1.5rem;
    background-color:  rgb(52, 192, 71);
    font-weight: bold;
}